html, body {
  height: 100%;
}
body {
  text-align: center;
}

* {
  box-sizing: border-box;
}
img.preview {
  height: 10px;
  width: 10px;
}

.board {
  border: 20px solid #7b9c4b;
  position: relative;
  max-width: 95vh;
  max-height: 95vh;
  display: flex;
  flex-wrap: wrap;
  &:before {
    padding-top: 100%;
}

  .square {
    width: 12.5%;
    height: 12.5%;
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 100%
    };
    &.dark {
      background-color: darkolivegreen;
    }
    &.light {
      background-color: lightgoldenrodyellow;
    }

    .clickTarget {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .pawn, .knight, .rook, .bishop, .queen, .king {
      &:hover {
        cursor: hand;
      }
      padding-top: 10%;
      img {
        height: 85%;
        width: 85%;
      }
    }
  }
}
